* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: #333333;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navigation {
  padding: 2.14rem 0 2.14rem 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Sintony', sans-serif;
  }
  header li {
    padding-top: 0.7rem;
    display: inline-block;
  }
  header li a {
    margin-left: 2.5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  li a:hover {
    border-bottom: 0.2rem solid white;
  }
.intro {
  height: 100vh;
  background-image: url("../images/BG Image.jpg");
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45vh;
    }
  .intro h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    } 
  .since {
    padding-top: 1.8rem;
    padding-bottom: 30vh;
    display: flex;
    justify-content: center;
    }
  .since p {
    font-style: italic;
    font-size: 1.4rem;
    margin: 0 1.2rem 0 1.2rem;
    }
  .team .container {
    display: flex; 
    justify-content: center;
    padding: 0 2.14rem 0 2.14rem;
    margin-bottom: 5rem;
    }
  .team .member {
    /*min-width: 280px;*/
    margin-right: 1.8rem;
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .team h2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1rem;
    }
  .team h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 700;
    }
  .team p {
    font-style: italic;
    font-size: 1rem;
    color: #9A9A9A;
    line-height: 1.7;
    margin-top: 1.6rem;
    text-align: center;
    padding: 0 20px 0 20px;
    }
  .team img {
    border-radius: 50%;
    }
  .underline {
    margin-bottom: 3.8rem;
    }
.social .container {
  background-color: #F5F5F5;
  padding-top: 4rem;
   }
   .social .follow {
     padding-bottom: 3.7rem;
     padding-top: 2.7rem;
     display: flex;
     justify-content: center;
   }
   .arrow {
    display: flex;
    align-items: center;

   }
   .gallery {
    display: flex;
    justify-content: center;
   }
   .slider {
     display: flex;
     justify-content: center;
   }
   .slider img {
     padding: 0 1rem 1rem 1rem;
   }

.contact {
  background-color: #C53163;
  padding-top: 4rem; 
  }
  .contact h2 {
  font-size: 2.25rem;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
  }
  .contact .container {
     display: flex;
     justify-content: center;
  } 
  .form form {
    margin-right: 2.57rem;
  }
  input, textarea {
    border: 0;
    outline: 0;
    padding: 1.2rem 0 1.2rem 1.78rem;
    margin-bottom: 1.42rem;
    width: 32.1rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    border-radius: 0.35rem;
  }
  button {
    width: 100%;
    border: 0;
    background-color: #333333;
    color: white;
    border-radius: 0.35rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    padding: 1.1rem 0 1.1rem 0;
  }
  .map {
     display: flex;
     flex-direction: column;
     padding-bottom: 6.07rem;

     }
  .map .frame {
    height: 20rem;
    width: 32.14rem;
    border-radius: 0.35rem;
    overflow: hidden;
    }
  .adress {
      max-width: 32.14rem;
      padding: 2.14rem 2.85px 0 2.85px;
  }
  .map p {
      font-size: 1.2rem;
      color: white;
      font-style: italic;
      font-weight: 400;
      line-height: 1.4;
      text-align: center;
  }

footer {
  background-color: #333333;
  }
   footer li {
     display: inline-block;
     vertical-align: middle;
     padding: 0 1.2rem 0 1.2rem;
   }
   footer li a {
     text-decoration: none;
     color: white;
     font-size: 1rem;     
   }
   .footer .nav {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Sintony', sans-serif;
     padding-top: 4rem;
   }
   .footer .social {
     display: flex;
     justify-content: center;
     padding: 2rem 0 4rem 0;
   }
   .footer .copyright {
     background-color: #2E2E2E;
     color: white;
     padding: 0.9rem 0 0.9rem 0;
     display: flex;
     justify-content: center;
     font-family: 'Verdana', sans-serif;
     font-size: 0.85rem;
     color: #585858;  
   }
   @media (max-width: 1024px) {
     .team .container {
         flex-wrap: wrap;
      }
      .intro h1 {
         margin: 0 2rem 0 2rem;
         line-height: 4rem;
      } 
     .team .member {
         margin-bottom: 3rem;
      } 
     .gallery {
         flex-wrap: wrap;
      }
     .contact {
         flex-wrap: wrap;
      }
     .form {
         margin-bottom: 3rem;
      }    
     .form form {
         margin-right: 0;
      }       
   }
   @media (max-width: 580px) {
      .navigation {      
         flex-direction: column;
      }
      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }
      .form input, textarea {    
        width: 20rem;
      }
      .map .frame {
        width: 20rem;
      }
      .frame {
        align-self: center;
      }
   }


